 <ion-view title="Sign-In">
        <ion-content style=" background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, lightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, lightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, lightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, lightblue); /* Standard syntax (must be last) */">
          <div class="padding">
            <button nav-clear class="button button-block button-positive" style="margin-top:1rem; Background:white; color:black; " ng-click="LogIn()">
              Sign-In
            </button>
            
            <h1 style="text-align:center; color:white; " ><strong>Facebook Signin</strong> </h1>
         
          </div>
        </ion-content>
      </ion-view>